config_pred_prey/pred_prey.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Root Element -->
  <xs:element name="PhysiCell_settings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="domain" type="DomainType"/>
        <xs:element name="overall" type="OverallType"/>
        <xs:element name="parallel" type="ParallelType"/>
        <xs:element name="save" type="SaveType"/>
        <xs:element name="options" type="OptionsType"/>
        <xs:element name="microenvironment_setup" type="MicroenvironmentSetupType"/>
        <xs:element name="cell_definitions" type="CellDefinitionsType"/>
        <xs:element name="initial_conditions" type="InitialConditionsType"/>
        <xs:element name="cell_rules" type="CellRulesType"/>
        <xs:element name="user_parameters" type="UserParametersType"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Domain Type -->
  <xs:complexType name="DomainType">
    <xs:sequence>
      <xs:element name="x_min" type="xs:decimal"/>
      <xs:element name="x_max" type="xs:decimal"/>
      <xs:element name="y_min" type="xs:decimal"/>
      <xs:element name="y_max" type="xs:decimal"/>
      <xs:element name="z_min" type="xs:decimal"/>
      <xs:element name="z_max" type="xs:decimal"/>
      <xs:element name="dx" type="xs:decimal"/>
      <xs:element name="dy" type="xs:decimal"/>
      <xs:element name="dz" type="xs:decimal"/>
      <xs:element name="use_2D" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Overall Type -->
  <xs:complexType name="OverallType">
    <xs:sequence>
      <xs:element name="max_time" type="UnitValueType"/>
      <xs:element name="time_units" type="xs:string"/>
      <xs:element name="space_units" type="xs:string"/>
      <xs:element name="dt_diffusion" type="UnitValueType"/>
      <xs:element name="dt_mechanics" type="UnitValueType"/>
      <xs:element name="dt_phenotype" type="UnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Parallel Type -->
  <xs:complexType name="ParallelType">
    <xs:sequence>
      <xs:element name="omp_num_threads" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Save Type -->
  <xs:complexType name="SaveType">
    <xs:sequence>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="full_data" type="DataSaveType"/>
      <xs:element name="SVG" type="SVGSaveType"/>
      <xs:element name="legacy_data" type="EnabledType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DataSaveType">
    <xs:sequence>
      <xs:element name="interval" type="UnitValueType"/>
      <xs:element name="enable" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SVGSaveType">
    <xs:sequence>
      <xs:element name="interval" type="UnitValueType"/>
      <xs:element name="enable" type="xs:boolean"/>
      <xs:element name="plot_substrate" type="PlotSubstrateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PlotSubstrateType">
    <xs:sequence>
      <xs:element name="substrate" type="xs:string"/>
      <xs:element name="colormap" type="xs:string"/>
      <xs:element name="min_conc" type="xs:decimal"/>
      <xs:element name="max_conc" type="xs:decimal"/>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean"/>
    <xs:attribute name="limits" type="xs:boolean"/>
  </xs:complexType>

  <!-- Options Type -->
  <xs:complexType name="OptionsType">
    <xs:sequence>
      <xs:element name="legacy_random_points_on_sphere_in_divide" type="xs:boolean"/>
      <xs:element name="virtual_wall_at_domain_edge" type="xs:boolean"/>
      <xs:element name="disable_automated_spring_adhesions" type="xs:boolean"/>
      <xs:element name="random_seed" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Microenvironment Setup Type -->
  <xs:complexType name="MicroenvironmentSetupType">
    <xs:sequence>
      <xs:element name="variable" type="VariableType" maxOccurs="unbounded"/>
      <xs:element name="options" type="MicroenvironmentOptionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VariableType">
    <xs:sequence>
      <xs:element name="physical_parameter_set" type="PhysicalParameterSetType"/>
      <xs:element name="initial_condition" type="UnitValueType"/>
      <xs:element name="Dirichlet_boundary_condition" type="DirichletBoundaryType"/>
      <xs:element name="Dirichlet_options" type="DirichletOptionsType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="units" type="xs:string" use="required"/>
    <xs:attribute name="ID" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="PhysicalParameterSetType">
    <xs:sequence>
      <xs:element name="diffusion_coefficient" type="UnitValueType"/>
      <xs:element name="decay_rate" type="UnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DirichletBoundaryType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="units" type="xs:string"/>
        <xs:attribute name="enabled" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DirichletOptionsType">
    <xs:sequence>
      <xs:element name="boundary_value" type="BoundaryValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BoundaryValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="ID" type="xs:string" use="required"/>
        <xs:attribute name="enabled" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MicroenvironmentOptionsType">
    <xs:sequence>
      <xs:element name="calculate_gradients" type="xs:boolean"/>
      <xs:element name="track_internalized_substrates_in_each_agent" type="xs:boolean"/>
      <xs:element name="initial_condition" type="FileReferenceType"/>
      <xs:element name="dirichlet_nodes" type="FileReferenceType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FileReferenceType">
    <xs:sequence>
      <xs:element name="filename" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <!-- Cell Definitions Type -->
  <xs:complexType name="CellDefinitionsType">
    <xs:sequence>
      <xs:element name="cell_definition" type="CellDefinitionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellDefinitionType">
    <xs:sequence>
      <xs:element name="phenotype" type="PhenotypeType"/>
      <xs:element name="custom_data" type="CustomDataType"/>
      <xs:element name="initial_parameter_distributions" type="InitialParameterDistributionsType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="ID" type="xs:integer" use="required"/>
  </xs:complexType>

  <xs:complexType name="PhenotypeType">
    <xs:sequence>
      <xs:element name="cycle" type="CycleType"/>
      <xs:element name="death" type="DeathType"/>
      <xs:element name="volume" type="VolumeType"/>
      <xs:element name="mechanics" type="MechanicsType"/>
      <xs:element name="motility" type="MotilityType"/>
      <xs:element name="secretion" type="SecretionType"/>
      <xs:element name="cell_interactions" type="CellInteractionsType"/>
      <xs:element name="cell_transformations" type="CellTransformationsType"/>
      <xs:element name="cell_integrity" type="CellIntegrityType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CycleType">
    <xs:sequence>
      <xs:element name="phase_transition_rates" type="PhaseTransitionRatesType"/>
      <xs:element name="standard_asymmetric_division" type="StandardAsymmetricDivisionType"/>
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PhaseTransitionRatesType">
    <xs:sequence>
      <xs:element name="rate" type="RateType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="units" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="RateType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="start_index" type="xs:integer"/>
        <xs:attribute name="end_index" type="xs:integer"/>
        <xs:attribute name="fixed_duration" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="StandardAsymmetricDivisionType">
    <xs:sequence>
      <xs:element name="asymmetric_division_probability" type="NamedUnitValueType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="DeathType">
    <xs:sequence>
      <xs:element name="model" type="DeathModelType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DeathModelType">
    <xs:sequence>
      <xs:element name="death_rate" type="UnitValueType"/>
      <xs:element name="phase_durations" type="PhaseDurationsType"/>
      <xs:element name="parameters" type="DeathParametersType"/>
    </xs:sequence>
    <xs:attribute name="code" type="xs:string" use="required"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="PhaseDurationsType">
    <xs:sequence>
      <xs:element name="duration" type="DurationType" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="units" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="DurationType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="index" type="xs:integer" use="required"/>
        <xs:attribute name="fixed_duration" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DeathParametersType">
    <xs:sequence>
      <xs:element name="unlysed_fluid_change_rate" type="UnitValueType"/>
      <xs:element name="lysed_fluid_change_rate" type="UnitValueType"/>
      <xs:element name="cytoplasmic_biomass_change_rate" type="UnitValueType"/>
      <xs:element name="nuclear_biomass_change_rate" type="UnitValueType"/>
      <xs:element name="calcification_rate" type="UnitValueType"/>
      <xs:element name="relative_rupture_volume" type="UnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="VolumeType">
    <xs:sequence>
      <xs:element name="total" type="UnitValueType"/>
      <xs:element name="fluid_fraction" type="UnitValueType"/>
      <xs:element name="nuclear" type="UnitValueType"/>
      <xs:element name="fluid_change_rate" type="UnitValueType"/>
      <xs:element name="cytoplasmic_biomass_change_rate" type="UnitValueType"/>
      <xs:element name="nuclear_biomass_change_rate" type="UnitValueType"/>
      <xs:element name="calcified_fraction" type="UnitValueType"/>
      <xs:element name="calcification_rate" type="UnitValueType"/>
      <xs:element name="relative_rupture_volume" type="UnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MechanicsType">
    <xs:sequence>
      <xs:element name="cell_cell_adhesion_strength" type="UnitValueType"/>
      <xs:element name="cell_cell_repulsion_strength" type="UnitValueType"/>
      <xs:element name="relative_maximum_adhesion_distance" type="UnitValueType"/>
      <xs:element name="cell_adhesion_affinities" type="CellAdhesionAffinitiesType"/>
      <xs:element name="options" type="MechanicsOptionsType"/>
      <xs:element name="attachment_elastic_constant" type="UnitValueType"/>
      <xs:element name="attachment_rate" type="UnitValueType"/>
      <xs:element name="detachment_rate" type="UnitValueType"/>
      <xs:element name="maximum_number_of_attachments" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellAdhesionAffinitiesType">
    <xs:sequence>
      <xs:element name="cell_adhesion_affinity" type="NamedValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NamedValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MechanicsOptionsType">
    <xs:sequence>
      <xs:element name="set_relative_equilibrium_distance" type="EnabledUnitValueType"/>
      <xs:element name="set_absolute_equilibrium_distance" type="EnabledUnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="EnabledUnitValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="enabled" type="xs:boolean"/>
        <xs:attribute name="units" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MotilityType">
    <xs:sequence>
      <xs:element name="speed" type="UnitValueType"/>
      <xs:element name="persistence_time" type="UnitValueType"/>
      <xs:element name="migration_bias" type="UnitValueType"/>
      <xs:element name="options" type="MotilityOptionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MotilityOptionsType">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="use_2D" type="xs:boolean"/>
      <xs:element name="chemotaxis" type="ChemotaxisType"/>
      <xs:element name="advanced_chemotaxis" type="AdvancedChemotaxisType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChemotaxisType">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="substrate" type="xs:string"/>
      <xs:element name="direction" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AdvancedChemotaxisType">
    <xs:sequence>
      <xs:element name="enabled" type="xs:boolean"/>
      <xs:element name="normalize_each_gradient" type="xs:boolean"/>
      <xs:element name="chemotactic_sensitivities" type="ChemotacticSensitivitiesType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ChemotacticSensitivitiesType">
    <xs:sequence>
      <xs:element name="chemotactic_sensitivity" type="SubstrateValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstrateValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="substrate" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="SecretionType">
    <xs:sequence>
      <xs:element name="substrate" type="SubstrateSecretionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SubstrateSecretionType">
    <xs:sequence>
      <xs:element name="secretion_rate" type="UnitValueType"/>
      <xs:element name="secretion_target" type="UnitValueType"/>
      <xs:element name="uptake_rate" type="UnitValueType"/>
      <xs:element name="net_export_rate" type="UnitValueType"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="CellInteractionsType">
    <xs:sequence>
      <xs:element name="apoptotic_phagocytosis_rate" type="UnitValueType"/>
      <xs:element name="necrotic_phagocytosis_rate" type="UnitValueType"/>
      <xs:element name="other_dead_phagocytosis_rate" type="UnitValueType"/>
      <xs:element name="live_phagocytosis_rates" type="LivePhagocytosisRatesType"/>
      <xs:element name="attack_rates" type="AttackRatesType"/>
      <xs:element name="attack_damage_rate" type="UnitValueType"/>
      <xs:element name="attack_duration" type="UnitValueType"/>
      <xs:element name="fusion_rates" type="FusionRatesType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LivePhagocytosisRatesType">
    <xs:sequence>
      <xs:element name="phagocytosis_rate" type="NamedUnitValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AttackRatesType">
    <xs:sequence>
      <xs:element name="attack_rate" type="NamedUnitValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FusionRatesType">
    <xs:sequence>
      <xs:element name="fusion_rate" type="NamedUnitValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellTransformationsType">
    <xs:sequence>
      <xs:element name="transformation_rates" type="TransformationRatesType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransformationRatesType">
    <xs:sequence>
      <xs:element name="transformation_rate" type="NamedUnitValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellIntegrityType">
    <xs:sequence>
      <xs:element name="damage_rate" type="UnitValueType"/>
      <xs:element name="damage_repair_rate" type="UnitValueType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomDataType">
    <xs:sequence>
      <xs:element name="sample" type="CustomDataValueType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomDataValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="conserved" type="xs:boolean"/>
        <xs:attribute name="units" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="InitialParameterDistributionsType">
    <xs:sequence>
      <xs:element name="distribution" type="DistributionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="DistributionType">
    <xs:sequence>
      <xs:element name="behavior" type="xs:string"/>
      <xs:choice>
        <xs:sequence>
          <xs:element name="mu" type="xs:decimal"/>
          <xs:element name="sigma" type="xs:decimal"/>
          <xs:element name="upper_bound" type="xs:decimal"/>
        </xs:sequence>
        <xs:sequence>
          <xs:element name="min" type="xs:decimal"/>
          <xs:element name="max" type="xs:decimal"/>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="enabled" type="xs:boolean"/>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="check_base" type="xs:boolean"/>
  </xs:complexType>

  <!-- Initial Conditions Type -->
  <xs:complexType name="InitialConditionsType">
    <xs:sequence>
      <xs:element name="cell_positions" type="CellPositionsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CellPositionsType">
    <xs:sequence>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="type" type="xs:string"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <!-- Cell Rules Type -->
  <xs:complexType name="CellRulesType">
    <xs:sequence>
      <xs:element name="rulesets" type="RulesetsType"/>
      <xs:element name="settings" type="SettingsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RulesetsType">
    <xs:sequence>
      <xs:element name="ruleset" type="RulesetType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RulesetType">
    <xs:sequence>
      <xs:element name="folder" type="xs:string"/>
      <xs:element name="filename" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="protocol" type="xs:string"/>
    <xs:attribute name="version" type="xs:string"/>
    <xs:attribute name="format" type="xs:string"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="SettingsType">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>

  <!-- User Parameters Type -->
  <xs:complexType name="UserParametersType">
    <xs:sequence>
      <xs:element name="number_of_cells" type="UserParameterType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="UserParameterType">
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="units" type="xs:string"/>
        <xs:attribute name="description" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Common Types -->
  <xs:complexType name="UnitValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="units" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="NamedUnitValueType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="units" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="EnabledType">
    <xs:sequence>
      <xs:element name="enable" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
